.custom-button {
	min-width: 165px;
	width: auto;
	height: 50px;
	letter-spacing: 0.5px;
	line-height: 50px;
	padding: 0 30px 0 30px;
	background-color: #222;
	color: white;
	text-transform: uppercase;
	border: 1px solid #222;
	cursor: pointer;
	transition: all 0.3s ease-in;

	&:hover {
		background-color: white;
		color: #222;
	}
	&.google-sign-in {
		background-color: #4285f4;
		color: white;
		border: none;

		&:hover {
			background-color: #357ae8;
			border: none;
		}
	}
	&.inverted {
		background-color: white;
		color: #222;
		border: none;
		font-weight: bold;
		&:hover {
			background-color: #222;
			color: white;
		}
	}
}
