.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  background-color: #222;
  color: white;
  text-transform: uppercase;
  border: none;
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.3s ease-in;

  &:hover {
    background-color: white;
    color: #222;
  }
  &.google-sign-in {
    background-color: #4285f4;
    color: white;
    border: none;

    &:hover {
      background-color: #357ae8;
      border: none;
    }
  }
}
